<h1 class="center" id="hp-heading"></h1>

<script>
  new TypeIt('#hp-heading', {
       strings: 'Arrive with a game plan for your next stop-over',
       speed: 50,
       autoStart: false
  });
</script>

<div id="globe"></div>
