

@import "bootstrap-sprockets";
@import "bootstrap";


#globe {
  width: 100vw;
  height: 100vh;
}

#map {
  height: 500px;
  width: 960px;
  margin: 100px;
}

#activity-img {
  height: 300px;
  width: 300px;
}

#activity-map {
  height: 500px;
  width: 500px;
  margin: 50px;
}

.profile-img {
  height: 200px;
  width: 250px;
}

.thumbnail {
  height: 100px;
  width: 100px;
}



#weather{
  display:none;
}
#weather.show{
  display:block;
}
