<!-- Sticky footer partial -->

<div class="navbar navbar-default navbar-fixed-bottom" id="footer">
    <div class="container">
      <p class="navbar-text pull-left"><span>&copy</span> Monique Lee 2018
           <a href="https://github.com/ML78/project3-travel_app" target="_blank" >GitHub</a>
      </p>
    </div>
</div>
